.table_blur {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
}
ul.upper_header li{
  border-top: 1px solid #777777;	
  border-bottom: 1px solid #777777; 
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px;
  position: relative;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  background: #ebf3f9;
}
.table_blur th:first-child {
  border-left: 1px solid #777777;	
  border-bottom:  1px solid #777777;
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
  border-right: 1px solid #777777;
  border-bottom:  1px solid #777777;
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}
.table_blur tbody:hover td {
#  color: transparent;
#  text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
  color: #444444;
  text-shadow: none;
}
a.toggle {
	text-decoration: none; 
} 
tr, td
{
    border: 1px solid black;
}
tr.header
{
    cursor:pointer;
}
 ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
	display: table;
	table-layout: fixed;
   }
ul > li {
	display: table-cell;
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
	content: "";

  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
   }
.toggle {
	width: 5%;
}
.name {
	width: 18%;
}
.address {
	width: 18%;
}
.phone {
	width: 18%;
}
.redact {
	width: 18%;
}
.delete {
	width: 20%;
}